<form class="{{cssClass}}" autocomplete="off">
	<div class="container metadata">
		<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="80" />
		<h1>
			<div><input name="name" type="text" value="{{actor.name}}" placeholder="STUFF" /></div>
		</h1>
		<ul class="container resources">
			{{#each data.resources}}
				<li class="stat box">
					<h2><a data-roll="3d6" data-value="{{this.value}}" data-name="{{this.name}}" class="stat-roll">{{this.name}}</a></h2>
					<div class="resource container">
						<input name="data.resources.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
						 <span>/</span>
						<input name="data.resources.{{@key}}.max" type="text" value="{{this.max}}" data-dtype="Number"/>
					</div>
				</li>
			{{/each}}				
		</ul>
	</div>
	<div class="container attributes frame">
		<ul class="primary container">
		{{#each data.primary}}
			<li class="stat box">
				<h3><a data-roll="3d6" data-value="{{this.value}}" data-name="{{this.name}}" class="stat-roll">{{this.name}}</a></h3>
				<input name="data.primary.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
			</li>
		{{/each}}				
		</ul>
		<ul class="container secondary">
		{{#each data.secondary}}
			<li class="stat box">
				<h3><a data-roll="3d6" data-value="{{this.value}}" data-name="{{this.name}}" class="stat-roll">{{this.name}}</a></h3>
				<div class="value">
					<input name="data.secondary.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
				</div>
			</li>
		{{/each}}				
		</ul>
	</div>
	<div class="frame">
		<ul class="skills">
			<li class="topbar">
				<div class="name">Skills</div>
				<div class="item-controls"><a class="create-item"><i class="fas fa-plus"></i>Add</a></div>
			</li>
			{{#each skills}}
			<li class="item" data-itemId="{{this._id}}">
				<a class="action-edit name"><label >{{this.name}}</label></a>
				<a class="item-roll value" data-roll="3d6" data-name="{{this.name}}" data-value="{{this.data.value}}"><label class="value">{{this.data.value}}</label></a>
				<div class="item-controls"><a class="action-edit"><i class="fas fa-edit"></i></a><a data-roll="3d6" class="item-roll"><i class="fas fa-dice"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a></div>
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="frame notes">
		{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
	</div>
</form>
