<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 class="name"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <div class="attr">
        	<div class="box">
	        	<label>Attribute:</label>
	   		    <select name="data.attr">
	   		    	<option value="{{data.attr}}" hidden="hidden" selected="selected">{{data.attr}}</option>
			        <option value="dx">DX</option>
			        <option value="iq">IQ</option>
			        <option value="will">Will</option>
			        <option value="per">Per</option>
			    </select>
			</div>
		    <div class="label box">
		    	<label>Value:</label>
		    	<div>
		    		<input name="data.value" type="text" value="{{data.value}}" placeholder="10"/>
		    	</div>
		    </div>
		    <div class="dice box">
		    	<div class="total">+1</div><div>=</div><div>16</div>
		    </div>
		    <div class="box dice">
		    	<div><i class="fa fa-dice-d20"></i></div>
		    </div>
		</div>
    </header>
    <ul class="">
    	<li class="topbar">
    		<div>Modifiers:</div>
    	</li>
    	<li>
    		<div>Some modifier here - +1</div>
    	</li>
    	<li>
    		<div></div>
    	</li>
    	<li>
    		<div></div>
    	</li>
    </ul>
    <div class="desc">
    	{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>
